.form-container {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 20px;
  box-sizing: border-box;
}

.pollutionForm{
  display: flex;
  flex-direction: column;
  gap:12px;
  max-width: 1000px;
  width: 75%;
  min-width: 400px;
   padding: 20px;
  margin-left: auto;
  margin-right: auto;
   box-sizing: border-box;
    background-color: #f5f5f5;
   border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btnFormPollution{
  margin-top: 15px;
  color: white;
  background-color: green;

}
.btnFormPollution:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.text-danger{
  color: red;
}

.is-invalid{
  border: 1px solid red;
  box-shadow: 0 0 3px red;
}
