.recap {
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(32, 163, 98, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.recap h2 {
  text-align: center;
  color: #207a40;
  margin-bottom: 20px;
}

.recap ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recap li {
  margin-bottom: 12px;
  font-size: 1.1rem;
  line-height: 1.4;
}

.recap strong {
  color: #145214;
}

.recap img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 8px;
  box-shadow: 0 0 5px rgba(32, 163, 98, 0.2);
}
.titre2-recap{
  text-align: center;
}
@media (max-width: 600px) {
  .recap {
    width: 90%;
    padding: 15px;
  }

  .recap li {
    font-size: 1rem;
  }
}
